<html>
<div class="container">
  <div class="row">
 <%= render 'books/list', book: @book, user: @user %>
</div>
  <div class="col-xs-9">
    <table class="table table-hover">
    <h2>Book detail</h2>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

        <tr>
        <td>
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size:'80x80' %><%= link_to @user.name, user_path(@user.id) %></td>
        <td><%= link_to @book.title, book_path(@book.id) %></td>
        <td><%= @book.body %></td>
        <% if @user.id == current_user.id %>
        <td><%= link_to "Edit", edit_book_path(@book), class: "col-xs-4 btn btn-xs  btn-success" %></td>
        <td>
          <%= link_to "Destroy", book_path(@book), method: :delete, data:
          { confirm: '本当に削除して良いですか?',
            cancel: 'やめる',
            commit: '削除する'}, title: '削除確認', class: "col-xs-4 btn btn-xs btn-danger" %></td>
            <% else %>
            <% if @book.favorited_by?(current_user) %>
          <td><%= link_to book_favorites_path(@book), method: :delete do %><span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
            <%= @book.favorites.count %><% end %></td>
            <% else %>
          <td><%= link_to book_favorites_path(@book), method: :post do %><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            <%= @book.favorites.count %><% end %></td><% end %>
            <td>コメント数：<%= @book.book_comments.count %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <%= render 'book_comments/comment', book: @book, user: @user %>
    <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>

    </div>
  </div>
</html>