<head>
  <title>Booker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="slidemenu">
    <h2 class="link-main">Bookers</h2>
    <div class="link">
      <ul>
        <% if user_signed_in? %>
        
        <li class="link-sub">
          <%= link_to 'Home', user_path(current_user.id), class: "glyphicon glyphicon-home" %>
        </li>
        <li class="link-sub">
          <%= link_to 'Users', users_path, class: "glyphicon glyphicon-user" %>
        </li>
        <li class="link-sub">
          <%= link_to 'Books', books_path, class: "glyphicon glyphicon-book" %>
        </li>
        <li class="link-sub">
          <%= link_to "logout",destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-share" %>
        </li>
        <% else %>
        <li class="link-sub">
          <%= link_to 'Home', root_path, class: "glyphicon glyphicon-home" %>
        </li>
        <li class="link-sub">
          <%= link_to 'About', home_about_path, class: "glyphicon glyphicon-link" %>
        </li>
        <li class="link-sub">
          <%= link_to "sign up", new_user_registration_path, class: "glyphicon glyphicon-edit" %>
        </li>
        <li class="link-sub">
          <%= link_to "login", new_user_session_path, class: "glyphicon glyphicon-log-in" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <p id="notice"><%= notice %></p>
  <%= yield %>
  <footer>
  <div class="container">
      <div class="row">
          <div class="col-xs-3 col-xs-offset-10" >
            <h5>CopyRight Infratop.inc</h5>
          </div>
      </div>
  </div>
</footer>
</body>